<!--
	Si en donde estamos utilizando el componenten <app-listado-generico> no utilizamos:
	<ng-container cargando> o <ng-container vacio>, el ngIf verá que el contenido de #carga y #vacios
	no existe, por lo que utilizará los "valores por defecto", o sea, el gif animado o el texto
	'No hay listado para mostrar'
-->
<div *ngIf="!listado">
	<span #carga>
		<ng-content select="[cargando]"></ng-content>
	</span>
	<span *ngIf="!carga.innerHTML.trim()">
		<img src="https://c.tenor.com/tEBoZu1ISJ8AAAAC/spinning-loading.gif">
	</span>
</div>

<div *ngIf="listado?.length === 0">
	<span #vacios>
		<ng-content select="[vacio]"></ng-content>
	</span>
	<span *ngIf="!vacios.innerHTML.trim()">
		<p>No hay películas para mostrar</p>
	</span>
</div>

<ng-container *ngIf="listado && listado?.length > 0">
	<ng-content select="[contenido]"></ng-content>
</ng-container>