form {
  width: 100%;
}

form mat-form-field {
  width: 30%;
  margin-right: 1rem;
}

.contenedor-limpiar {
  margin-bottom: 1rem;
}

/* Color del borde del checkbox */
::ng-deep .mat-checkbox-frame {
  border-color: rgb(109, 100, 100);
}

/* Color del label */
mat-label {
  color: #7b1fa2;
}

/* Color del borde del campo del formulario */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: gray;
}

/* Color del borde del campo del formulario cuando se va a escribir algo */
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #7b1fa2;
}

/* Cambia el color de las opciones: <mat-option>*/
::ng-deep .mat-option-text {
  color: white;
}

/* Cambia el color de la opción elegida en el <mat-select> */
::ng-deep .mat-select-min-line {
  color: black;
}

/* Color de la flecha de selección de géneros */
::ng-deep .mat-select-arrow {
  color: #7b1fa2;
}

mat-paginator {
  margin: 20px -20px -20px -20px;
}
