<!-- mat-toolbar: es un contenedor para encabezados, títulos o acciones. Representa nuestro menú -->
<mat-toolbar color="primary">
	<!-- Almacena el contenido que representará el botón de menú de inicio -->
	<span>
		<!-- mat-button: modifica los estilos para paracer un botón -->
		<a routerLink="" mat-button>
			<!-- mat-icon: crea el ícono. Lista completa de íconos: https://fonts.google.com/icons -->
			<mat-icon>theaters</mat-icon>Angular Películas
		</a>
	</span>

	<div>
		<a mat-button routerLink="peliculas/buscar">
			<mat-icon>search</mat-icon>Buscar Películas
		</a>
	</div>
	<app-autorizado [rol]="'admin'">
		<ng-container autorizado>
			<div>
				<a mat-button routerLink="generos">Géneros</a>
			</div>
			<div>
				<a mat-button routerLink="actores">Actores</a>
			</div>
			<div>
				<a mat-button routerLink="cines">Cines</a>
			</div>
			<div>
				<a mat-button routerLink="peliculas/crear">Crear Película</a>
			</div>
			<div>
				<a mat-button routerLink="usuarios">Usuarios</a>
			</div>
		</ng-container>
	</app-autorizado>

	<div class="espacio"></div>

	<!--
		Si el usuario no está autenticado, quiero mostrarle los enlaces de login y registro,
		de lo contrario, se le mostrará su nombre y un enlace de logout
	-->
	<app-autorizado>
		<ng-container autorizado>
			<!-- Recordemos que en nuestra API al generar el token, tenemos un clail email -->
			<span>Hola, {{seguridadService.obtenerCampoJWT('email')}}</span>
			<a mat-button (click)="seguridadService.logout()">Logout</a>
		</ng-container>
		<ng-container noAutorizado>
			<a mat-button routerLink="login">Login</a>
			<a mat-button routerLink="registro">Registro</a>
		</ng-container>
	</app-autorizado>
</mat-toolbar>