.peliculas-contenedor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.pelicula-contenedor {
  margin-right: 2%;
  margin-bottom: 10px;
  text-align: center;
}

p {
  max-width: 225px;
  height: 44px;
  font-size: 15px;
  font-weight: bold;
}

img {
  width: 225px;
  height: 300px;
}

button {
  margin-left: 1rem;
}

a {
  text-decoration: none;
  color: black;
  padding: 2px 1px 0;
}
